<!DOCTYPE html>
<html>
  <head>
  	<meta charset="utf8" />
  	<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Alphagrep Programming test</title>
    <link rel='stylesheet' href='/assets/stylesheets/style.css' />
    <link rel="stylesheet" type="text/css" href="/plugins/angular-material/angular-material.min.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
  </head>

  <body ng-app="MainApp" ng-cloak layout-gt-sm="column" ng-controller="MainController">
	   <md-toolbar class="md-primary">
				<div class="md-toolbar-tools">
					<span>Alphagrep Inventory System</span>
					<span flex></span>
				</div>
		</md-toolbar>
		<div flex-gt-sm layout="column" layout-gt-sm="row" layout-padding>
			<div flex-gt-sm="25"  layout="column" layout-padding layout-margin>
				<div flex="5"></div>
				<div style="padding:0;"md-whiteframe="3" flex="75">
						<md-toolbar>
							<div class="md-toolbar-tools">
								<span>Filter List</span>
								<span flex></span>
							</div>
						</md-toolbar>
						<div layout-padding>
							<md-input-container class="md-block">
								<label>Select a filter</label>
								<md-select ng-model="selectedFilter">
									<md-option value="Item">Item</md-option>
									<md-option value="Vendor">Vendor</md-option>
									<md-option value="Price">Price</md-option>
									<md-option value="None">None</md-option>
								</md-select>
							</md-input-container>
							<md-input-container ng-show="isdropdown && selectedFilter!='' " class="md-block">
								<label>Select a {{selectedFilter}}</label>
								<md-select ng-model="filtervalue">
									<md-option ng-click="updateView(selectedFilter,item)" ng-repeat="item in filtervalues" value="{{item}}">{{item}}</md-option>
								</md-select>
							</md-input-container>
							<md-input-container ng-show="!isdropdown && selectedFilter!='' " class="md-block">
								<label>Enter Price</label>
								<input type="number" ng-model="priceentered"/>
							</md-input-container>
							<md-radio-group ng-show="!isdropdown && selectedFilter!='' " ng-model="operator">

						      <md-radio-button value="lessthan" class="md-primary"><</md-radio-button>
						      <md-radio-button value="equalto">=</md-radio-button>
						      <md-radio-button value="greaterthan">></md-radio-button>

						    </md-radio-group>
						    <md-button ng-show="!isdropdown && selectedFilter!='' " ng-disabled="operator===undefined || priceentered===null" ng-click="updateView(selectedFilter,priceentered,operator)" class="md-accent md-raised">
						    	Filter
						    </md-button>
						</div>
				</div> 
				<div flex></div>
			</div>

				<div style="padding:0;" md-whiteframe="4" layout="column" flex-gt-sm >
				<md-toolbar  class="md-accent subheader-wrapper">
					<div layout="row" class="md-toolbar-tools">
							<div class="coltitle" flex>
								<i class="material-icons">gavel</i>
								<span>ITEM</span>
							</div>
							<div class="coltitle" flex>
								<i class="material-icons">poll</i>
								<span>VENDOR</span>
							</div>
							<div class="coltitle" flex>
								<i class="material-icons">attach_money</i>
								<span>PRICE</span>
							</div>
					</div>
				</md-toolbar>
				<div class="rowdatawrapper" flex layout-padding>
					<div class="rowdata" layout="row" ng-repeat="item in items track by $index">
						<div class="rowdataentry rowentry1" flex>
							<span>
								{{item.item}}
							</span>
						</div>
						<div class="rowdataentry rowentry2" flex>
							<span>
								{{item.vendor}}
							</span>
						</div>
						<div class="rowdataentry rowentry3" flex>
							<span style="float:left;margin-left:50%;">
								{{item.price}}
							</span>
							<i ng-show="item.change>0" class="material-icons up">
								arrow_drop_up
							</i>
							<span style="font-size:12px;float:right;" ng-show="item.change>0">
								(+{{item.change}})
							</span>
							<i ng-show="item.change<0" class="material-icons down">
								arrow_drop_down
							</i>
							<span style="font-size:12px;float:right;" ng-show="item.change<0">
								({{item.change}})
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>

	    <script src="/socket.io/socket.io.js"></script>
		<script>
		  var socket = io.connect('http://localhost:8080');
		</script>
		<script type="text/javascript" src="/plugins/angular/angular.min.js"></script>
		<script type="text/javascript" src="plugins/angular-animate/angular-animate.min.js"></script>
		<script type="text/javascript" src="plugins/angular-aria/angular-aria.min.js"></script>
		<script type="text/javascript" src="/plugins/angular-material/angular-material.min.js"></script>
		<script type="text/javascript" src="/assets/js/app.js"></script>
	</body>
</html>
