
div.inputwrapper{
		position: relative;
}

div.instrumentholder{
	background-color: white;
}

md-toolbar.subheader-wrapper{
	width: auto;
}

 div.coltitle{
	text-align: center;
}

md-toolbar.subheader-wrapper div.coltitle span{
	font-size: 20px;
	letter-spacing: 2px;
	font-weight: 500;
}

md-toolbar.subheader-wrapper div.coltitle i{
	margin-right: 5px;
}

div.rowdatawrapper{
	overflow: hidden;
	overflow-y : auto;
}
div.rowdata{
	padding: 15px;
	border-bottom: 1px lavender solid;
	margin-bottom: 2px;
	cursor: pointer;
}

div.rowdata:hover{
	background-color: #eee;
}

div.rowdata div.rowdataentry{
	text-align: center;	
}

div.rowdata div.rowentry1{
	position: relative;
}
div.rowdata div.rowentry2{
	position: relative;
}

div.rowdata div.rowentry3{
	position: relative;
}

i.up{
	font-size: 20px;
	color: green;
	float: right;
	margin-left: 5%;
}
i.down{
	font-size: 20px;
	color: red;
	float: right;
	margin-left: 5%;
}

@media (max-width: 600px){
	md-toolbar.subheader-wrapper div.coltitle span{
		font-size: 15px;
		letter-spacing: 1px;
		font-weight: 300;
	}
}